.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 5px solid rgb(21, 255, 0);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}